body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: rgb(21, 10, 48);
  color: beige;
}

main {
  color: #212121;
}

button {
    padding: 4px;
    border-width: 1px;
    border-radius: 4px;
    font-size: 105%;
}

button:hover {
  background-color: darkgray;
}

footer{
  background-color: rgb(37, 36, 34);
}
