@import url(base.css);
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

/*einzelne Elemente */
h1 {
  font-family: 'Bungee Outline', cursive;
  letter-spacing: 10px;
  font-size: 170%;
  margin: 8px 0px;

  text-shadow: 0 0 5px #d73feb,
                    0 0 20px #d73feb,
                    0 0 30px #d73feb,
                   0 0 50px #d73feb;
}

h3 {
  font-style: italic;
  margin-top: 15px;
}




a {
  color: beige;
}

span {
  margin-right: 4px;
}

/* Constrain the page to the viewport */
html, body {
  height: 100vh;
}





/*grid for phone */
body {
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto 4);
  grid-template-areas: 
   "header"
   "nav"
   "main"
   "footer";
}

/* positions the titel */
header{
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Center the nav's header and list */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: nav;
  background-color: rgb(27, 29, 27);
 
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

/* navigation buttons have full width */
nav button {
  width: 100%;
  margin-bottom: 2px;
  transition-duration: 0.4s;
  text-transform: uppercase;
}

nav button:hover{
  background-color: #280a6a;
  color: beige;
}

nav h2 {
  margin: 0%;
  padding-top: 16px;
  color: beige;
}

/* Remove unnecessary space and bullets from the lists */
ul {
  padding: 0px;
  margin: 16px;
  list-style-type: none;
}

.genreAllButton{
  color: beige;
  padding: 4px 8px;
  border: solid black 1px;
  border-radius: 6px;
  background-color: rgb(54, 33, 108);
  font-weight: bold;
}

/*button in nav for genre*/
.genreButton {
  padding: 4px 8px;
  border: solid black 1px;
  border-radius: 6px;
  background-color: lightslategrey;
  font-weight: bold;

}




main{
  grid-area: main;
display: flex;
flex-direction: column;
align-items: center;  
}
  

article {
  background-color: lightslategrey;
  border-radius: 16px;
  padding: 16px;
  margin: 8px;
  box-shadow: 7px 7px 2px rgb(190, 191, 182,0.2);
}

article ul li {
  margin-top: 8px;
  list-style: none;
}
article ul li::before {
  content: "★";
}

/* edit button */
article button {
  background-color: #68686b;
  color: black;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.genre {
  background-color: rgb(41, 22, 87);
  color: lightslategrey;
  font-weight: bold;

  padding: 3px 10px;
  border-radius: 8px;
  margin-right: 8px;
  margin-top: 5px;
  display: inline-block;
}

.timeContainer,
.ratingContainer
 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-style: italic;
}

footer{
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 12px;
}







@media only screen and (min-width: 900px){
  body {
  margin: 0;
  display: grid;
  grid-template-columns: 192px auto;
  grid-template-rows: 64px auto 64px;
  grid-template-areas: 
   "header  header"
   "nav     main"
   "footer  footer"
    ;
}

h1 {
  font-family: 'Bungee Outline', cursive;
  letter-spacing: 10px;
  font-size: 200%;
  margin: 8px 0px;

  text-shadow: 0 0 5px #d73feb,
               0 0 20px #d73feb,
               0 0 30px #d73feb,
               0 0 50px #d73feb;
}

header{
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items:center;
  padding-left: 1%;
}

nav{
   overflow-y: auto;
}

main{
  display: flex;
  align-items: flex-start;
  overflow-y: auto;
  grid-area: main;
}

article{
  width: 700px;
}

article h2{
  margin: 0px;
}


.movie {
  display: flex;

  border-radius: 10px;
  margin-bottom: 10px;
}

.infoContainer {
  flex: 1;
  max-width: 650px;
  padding-left: 10px;
}

/*betrifft alle Kinder */
.infoContainer > * {
  margin-bottom: 0px;
}

.titleContainer {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.genreAllButton {
  text-transform: uppercase;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-image: linear-gradient(90deg, #1a5468 0%, #522252 25%, #1d573d 60%, #100a6a 85%, #1a5267 100%);
  color: beige;
  margin-bottom: 5px;
}

.genreAllButton:hover {
  animation:slidebg 3s linear infinite;
}
@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
}



